.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 100px; */
}



.box1 {
  display: flex;
  justify-content: center;
}

.textbox {
  width: 318px;
  height: 70px;

}

.box2 {
  border-radius: 10px;
  border: 1px solid;
  padding: 16px;
  border-color: #cccccc;
  width: 350px;
  margin-top: 16px;
}

.Buttons1 {
  margin-top: 1px;
  height: 31px;
  background-color: #f0c14b;
  color: black;
  border-color: #a88734 #9c7e31 #846a29;
  text-transform: none;

}

.Buttons2 {
  margin-top: 16px;
  height: 31px;
  background-color: #f0c14b;
  color: black;
  border-color: #a88734 #9c7e31 #846a29;
  text-transform: none;

}

#Formheading {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
}

@media only screen and (min-width: 767px) and (max-width: 821px) {
  .box2 {
    border-radius: 10px;
    border: 1px solid;
    padding: 16px;
    border-color: #cccccc;
    width: 758px;
    margin-top: auto;
  }

  .textbox {
    width: 730px;
    height: 79px;
  }

  .Buttons1 {
    margin-top: 1px;
    height: 31px;
    width: 300px;
    background-color: #f0c14b;
    color: black;
    border-color: #a88734 #9c7e31 #846a29;
    text-transform: none;

  }

  .Buttons2 {
    margin-top: 16px;
    height: 31px;
    width: 300px;
    background-color: #f0c14b;
    color: black;
    border-color: #a88734 #9c7e31 #846a29;
    text-transform: none;

  }

  .box1 {
    margin-top: 126px;
    display: flex;
    justify-content: center;
  }

  .Heading {
    text-align: center;
  }

}

@media only screen and (min-width: 900px) and (max-width:913px) {
  .box2 {
    border-radius: 10px;
    border: 1px solid;
    padding: 16px;
    border-color: #cccccc;
    width: 850px;
    margin-top: auto;
  }

  .textbox {
    width: 800px;
    height: 79px;
  }

  .Buttons1 {
    margin-top: 1px;
    height: 31px;
    width: 300px;
    background-color: #f0c14b;
    color: black;
    border-color: #a88734 #9c7e31 #846a29;
    text-transform: none;

  }

  .Buttons2 {
    margin-top: 16px;
    height: 31px;
    width: 300px;
    background-color: #f0c14b;
    color: black;
    border-color: #a88734 #9c7e31 #846a29;
    text-transform: none;

  }

  .box1 {
    margin-top: 126px;
    display: flex;
    justify-content: center;
  }

  .Heading {
    text-align: center;
  }

}

@media only screen and (min-width: 800px) and (max-width: 821px) {
  .box2 {
    border-radius: 10px;
    border: 1px solid;
    padding: 16px;
    border-color: #cccccc;
    width: 801px;
    margin-top: auto;
  }

  .textbox {
    width: 780px;
    height: 79px;
  }

  .Buttons1 {
    margin-top: 1px;
    height: 31px;
    width: 300px;
    background-color: #f0c14b;
    color: black;
    border-color: #a88734 #9c7e31 #846a29;
    text-transform: none;

  }

  .Buttons2 {
    margin-top: 16px;
    height: 31px;
    width: 300px;
    background-color: #f0c14b;
    color: black;
    border-color: #a88734 #9c7e31 #846a29;
    text-transform: none;

  }

  .box1 {
    margin-top: 126px;
    display: flex;
    justify-content: center;
  }

  .Heading {
    text-align: center;
  }
}

@media only screen and (min-width: 200px) and (max-width: 300px) {
  .box2 {
    border-radius: 10px;
    border: 1px solid;
    padding: 16px;
    border-color: #cccccc;
    width: 265px;
    ;
    margin-top: auto;
  }

  .textbox {
    width: 250px;
    height: 79px;
  }

  .Buttons1 {
    margin-top: 1px;
    height: 31px;
    width: 100px;
    background-color: #f0c14b;
    color: black;
    border-color: #a88734 #9c7e31 #846a29;
    text-transform: none;

  }

  .Buttons2 {
    margin-top: 16px;
    height: 31px;
    width: 100px;
    background-color: #f0c14b;
    color: black;
    border-color: #a88734 #9c7e31 #846a29;
    text-transform: none;

  }

  .box1 {
    margin-top: 126px;
    display: flex;
    justify-content: center;
  }

  .Heading {
    text-align: center;
  }
}