.main {
  display: flex;
  flex-direction: column;
}

.linkclass {
  padding: 20px;

}

.main-sub {
  padding: 20px;
}

.card {
  border: 2px solid grey;
  display: flex;

}

.cardContent {
  display: flex;
  flex-direction: column;

}

.More-info {
  position: ABSOLUTE;
  right: 145px;
}